@if (Transactions is null || Transactions.Length == 0)
{
    <span>no transactions.</span>
}
else {
    <Grid TItem="Transaction" 
    Class="table table-hover" 
    DataProvider="@(Req => Task.FromResult(Req.ApplyTo(Transactions)))" 
    AllowPaging PageSize=PageSize
    Responsive
    @attributes=AdditionalAttributes>
        <GridColumn TItem="Transaction" HeaderText="Date" PropertyName="Date" >
            @context.Date
        </GridColumn>
        <GridColumn TItem="Transaction" HeaderText="Recipient" PropertyName="Recipient">
            @context.Recipient
        </GridColumn>
        <GridColumn TItem="Transaction" HeaderText="Reference" PropertyName="Reference">
            @context.Reference
        </GridColumn>
        <GridColumn TItem="Transaction" HeaderText="Amount" PropertyName="Amount" FilterOperator="FilterOperator.GreaterThanOrEquals" TextAlignment="Alignment.End">
            @context.Amount
        </GridColumn>
        
    </Grid>
}

@code {
    [Parameter]
    public Transaction[]? Transactions { get; set; } = null;

    [Parameter]
    public int PageSize {get; set;} = 20;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}