@page "/import"
@using BlazorBudget.Web.Data
@using BlazorBudget.Core.CsvImport
@using System.Text
@using Microsoft.Extensions.Logging
@using System.Globalization;
@inject TransactionService TransactionService
@inject ILogger<Import> Logger
@inject NavigationManager Navigation


<PageTitle>Import</PageTitle>

<h1>Import</h1>
<ConfirmDialog @ref="dialog" />
<Tabs @ref="tabs" EnableFadeEffect OnShowing=OnShowingTab OnShown=OnTabShown >
    <Tab Title="Choose File" IsActive="true">
        <Content>
            <div class="mt-3">
                <label for="formFile" class="form-label">Choose a CSV file to be imported</label>
                <InputFile @key=@(_inputFileId) class="form-control" OnChange=LoadFile />
            </div>
        </Content>
    </Tab>
    <Tab Title="Find Headers" Disabled=@(lines is null)>
        <Content>
            <div class="row">
                <div class="col-4">
                    <div class="d-grid gap-2 col-6 mx-auto mt-2">
                        <Button Color=ButtonColor.Info @onclick=AutoDetect Disabled=@(lines is null)>
                            <Icon Name="IconName.Lightning" /> Auto-detect
                        </Button>
                    </div>
                    <div class="form-row">
                        <div class="mb-3">
                            <label>Separator:</label>
                            <select class="form-control mt-2" @bind="Separator" >
                                @foreach (var (name, sep) in CsvLineSplitter.PossibleSeparators)
                                {
                                    <option value="@sep"> @name </option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Headers in Line:</label>
                            <NumberInput TValue="int" @bind-Value="@HeadersInLineNumber" EnableMinMax="true" Min="1" Max="@(lines?.Count??100)" Placeholder="Enter amount" />
                            <span class="form-text">You may also click on that line in the preview.</span>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mt-2 @(headersError is null?"":"is-invalid")">
                        <Button Color=ButtonColor.Primary @onclick=HeadersConfirmed Disabled=@(headersError is not null)>
                            <Icon Name="IconName.ArrowRightSquare" /> Continue
                        </Button>
                    </div>
                    @if (headersError is not null)
                    {
                        <div class="invalid-feedback text-center">@headersError</div>
                    }
                </div>
                <div class="col-8">
                    <h3> Preview </h3>
                    @if (lines is null || !lines.Any())
                    {
                        <p class="mt-3">Please first choose a file.</p>
                    }
                    else 
                    {
                        <ul class="list-group overflow-auto text-break" style="max-height: 500px;">
                        @foreach (var (line, index) in lines.Select((l, i) => (l, i)))
                        {
                            if (index == HeadersInLineNumber - 1)
                            {
                                var classType = headersError is null? "info" : "danger";
                                <li class="list-group-item list-group-item-@classType text-wrap">
                                    <Icon Name=IconName.Tag class="m-1"/>
                                    @if(splitHeaders is not null) {
                                        foreach(var header in splitHeaders)  
                                        {
                                            <span class="badge bg-@classType m-1">@header</span>
                                        }
                                    } else {
                                        @line
                                    }
                                    
                                </li>
                            } else {
                                var isData = index >= HeadersInLineNumber;
                                var iconName = isData? IconName.DatabaseUp : IconName.EyeSlash;
                                var additionalClass = isData? "" : "text-decoration-line-through text-secondary";
                                <li class="list-group-item list-group-item-action @additionalClass small" @onclick="() => HeadersInLineNumber = index + 1" >
                                    <Icon Name=iconName class="m-1"/>
                                    @line
                                </li>
                            }
                        }  
                        </ul>
                    }
                </div>
            </div>
        </Content>
    </Tab>
    <Tab Title="Match Columns" Disabled=@(headersError is not null)>
        <Content>
            @if (splitHeaders is null || splitExampleRows is null)
            {
                <p class="mt-3">No headers parsed yet.</p>
            } 
            else
            {
            <p class="mt-3">Now we need to find the right columns for importing the data.</p>
            <div class="row">
                <div class="col-8">
                    <div class="form-row">
                        <div class="d-grid gap-2 col-6 mx-auto mt-2">
                            <Button Color=ButtonColor.Primary @onclick=PrepareImport Disabled=columnMappings.IsMissingAnyData >
                                <Icon Name="IconName.Check" /> Done
                            </Button>
                        </div>
                        <div class="mb-3">
                            <label>Date:</label>
                            <select class="form-control mt-2" @bind="columnMappings.Date" >
                                <option value="">Please choose</option>
                                @foreach (var (header, index) in splitHeaders.Select((h,i)=>(h,i)))
                                {
                                    <option value="@index">Column @(index+1) – "@header"</option>
                                }
                            </select>
                            <label>Date format:</label>
                            <select class="form-control mt-2" @bind="columnMappings.DateFormat" >
                                <option value="">Please choose</option>
                                @foreach (var dateFormat in ColumnMappings.PossibleDateStringFormats)
                                {
                                    <option value="@dateFormat">@dateFormat</option>
                                }
                            </select>
                            @if(columnMappings.Date is null || columnMappings.DateFormat is null){
                                <p> Choose!</p>
                            } else {
                                <span class="badge bg-info">@splitHeaders[columnMappings.Date.Value]</span>
                                foreach(var rawValue in splitExampleRows.Select(r => r[columnMappings.Date.Value]))
                                {
                                    DateOnly parsedDate;
                                    var dateParsingOk = DateOnly.TryParseExact(rawValue, columnMappings.DateFormat, out parsedDate);
                                    @if(dateParsingOk){
                                        <span class="badge bg-success">@parsedDate</span>
                                    } else {
                                        <span class="badge bg-danger">@rawValue</span>
                                    }
                                }
                            }
                        </div>
                        <div class="mb-3">
                            <label>Recipient:</label>
                            <select class="form-control mt-2" @bind="columnMappings.Recipient" >
                                <option value="">Please choose</option>
                                @foreach (var (header, index) in splitHeaders.Select((h,i)=>(h,i)))
                                {
                                    <option value="@index">Column @(index+1) – "@header"</option>
                                }
                            </select>
                            @if(columnMappings.Recipient is null){
                                <p> Choose!</p>
                            } else {
                                <span class="badge bg-info">@splitHeaders[columnMappings.Recipient.Value]</span>
                                foreach(var rawValue in splitExampleRows.Select(r => r[columnMappings.Recipient.Value]))
                                {
                                    @if(!string.IsNullOrWhiteSpace(rawValue)){
                                        <span class="badge bg-success">@rawValue</span>
                                    } else {
                                        <span class="badge bg-danger">No value!</span>
                                    }
                                }
                            }
                        </div>
                        <div class="mb-3">
                            <label>Reference:</label>
                            <select class="form-control mt-2" @bind="columnMappings.Reference" >
                                <option value="">Please choose</option>
                                @foreach (var (header, index) in splitHeaders.Select((h,i)=>(h,i)))
                                {
                                    <option value="@index">Column @(index+1) – "@header"</option>
                                }
                            </select>
                            @if(columnMappings.Reference is null){
                                <p> Choose!</p>
                            } else {
                                <span class="badge bg-info">@splitHeaders[columnMappings.Reference.Value]</span>
                                foreach(var rawValue in splitExampleRows.Select(r => r[columnMappings.Reference.Value]))
                                {
                                    @if(!string.IsNullOrWhiteSpace(rawValue)){
                                        <span class="badge bg-success">@rawValue</span>
                                    } else {
                                        <span class="badge bg-danger">No value!</span>
                                    }
                                }
                            }
                        </div>
                        <div class="mb-3">
                            <label>Amount:</label>
                            <select class="form-control mt-2" @bind="columnMappings.Amount" >
                                <option value="">Please choose</option>
                                @foreach (var (header, index) in splitHeaders.Select((h,i)=>(h,i)))
                                {
                                    <option value="@index">Column @(index+1) – "@header"</option>
                                }
                            </select>
                            <label>Number format:</label>
                            <select class="form-control mt-2" @bind="columnMappings.Culture" >
                                <option value="">Please choose</option>
                                @foreach (var cultureInfo in ColumnMappings.PossibleCultureFormats)
                                {
                                    <option value="@cultureInfo">@cultureInfo</option>
                                }
                            </select>
                            @if(columnMappings.Amount is null || columnMappings.Culture is null){
                                <p> Choose!</p>
                            } else {
                                <span class="badge bg-info">@splitHeaders[columnMappings.Amount.Value]</span>
                                foreach(var rawValue in splitExampleRows.Select(r => r[columnMappings.Amount.Value]))
                                {
                                    var numberParsingOk = decimal.TryParse(rawValue, NumberStyles.Currency, columnMappings.Culture, out var parsedAmount);
                                    @if(numberParsingOk){
                                        <span class="badge bg-success">@parsedAmount</span>
                                    } else {
                                        <span class="badge bg-danger">@rawValue</span>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </Content>
    </Tab>
    <Tab Title="Import" Disabled=@(parsingResult is null) >
        <Content>
            @if (parsingResult is not null) {
                if (parsingResult.NumFailures > 0) {
                    <p class="mt-3"><b>@parsingResult.NumFailures</b> line(s) could not be parsed into transactions.</p>                   
                    <p class="mt-3">The first one was:</p>
                    <p class="text-monospace">@parsingResult.FirstFailingLine</p>
                } else {
                    <p class="mt-3"><b>All</b> lines parsed successfully.</p>
                }
                var transactions = parsingResult.Transactions.ToArray();
                var uniqueTransactions = transactions.ToHashSet().ToArray();
                if (uniqueTransactions.Length < transactions.Length){
                    <p class="mt-3">Warning! Ignored <b>@(transactions.Length - uniqueTransactions.Length)</b> duplicate entries.</p>
                }
                <div class="d-grid gap-2 col-6 mx-auto mt-2">
                    <Button Color=ButtonColor.Primary @onclick=DoImport Disabled=(!parsingResult.Transactions.Any()) >
                        <Icon Name="IconName.FileEarmarkPlus" /> Save shown transactions
                    </Button>
                </div>
                <TransactionTable Transactions=uniqueTransactions />
            }
        </Content>
    </Tab>
</Tabs>

@code {
    const int MaxBytes = 2 * 1024 * 1024;
    const int MaxLines = 20000;
    const int PeekLines = 50;

    private Tabs tabs = default!;
    private ConfirmDialog dialog = default!;

    // File.
    private IBrowserFile? file;
    private string _inputFileId = Guid.NewGuid().ToString();
    private List<string>? lines;

    // Config.
    private CsvLineSplitter _splitter = new (",");
    public string Separator 
    {
        get => _splitter.Separator;
        set
        {
            _splitter = new CsvLineSplitter(value);
            FormatInfoChanged();
        }
    }
    private int headersInLineNumber = 1;
    public int HeadersInLineNumber
    {
        get => headersInLineNumber;
        set
        {
            headersInLineNumber = value;
            FormatInfoChanged();
        }
    }

    public string? headersError = "no data";
    private string[]? splitHeaders = null;

    // Column Mapping.
    private string[][]? splitExampleRows = null;
    private ColumnMappings columnMappings = new();

    private CsvParsingResult? parsingResult = null;

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        Logger.LogInformation("attempting to load file.");
        headersError = "no data loaded";
        lines = null;
        parsingResult = null;
        HeadersInLineNumber = 1;
        file = e.File;
        try
        {
            using var stream = e.File.OpenReadStream(MaxBytes);
            // TODO guess encoding - or make configurable?
            using var reader = new StreamReader(stream);
            lines = new (PeekLines);
            for (int l = 0; l < PeekLines; l++)
            {
                var line = await reader.ReadLineAsync();
                if (line is null)
                {
                    break;
                }
                lines.Add(line);
            }
            Logger.LogInformation("peeked {numLinesPeeked} lines.", lines.Count);
            FormatInfoChanged();
            StateHasChanged();
            await tabs.ShowTabByIndexAsync(1);
        } catch (IOException exception) 
        {
            Logger.LogError(exception, "Error loading file");
        }
    }

    private void AutoDetect() 
    {
        Logger.LogInformation("Autodetect!");
        if (lines is null) {
            return;
        }

        (_splitter, var headerOffset) = CsvFormatGuesser.Guess(lines);
        HeadersInLineNumber = headerOffset + 1;
    }

    private void FormatInfoChanged()
    {
        splitHeaders = null;
        splitExampleRows = null;
        if (lines is null) {
            Logger.LogInformation("Format info was changed, but no lines yet loaded.");
            return;
        }
        Logger.LogInformation("Format info was changed: headers in row {headerRow}, separator '{separator}'",headersInLineNumber, Separator);
        try {
            if (lines.Count < HeadersInLineNumber)
            {
                headersError = $"Line {HeadersInLineNumber} is not present.";
                return;
            }
            if (lines.Count == HeadersInLineNumber)
            {
                headersError = $"Headers cannot be in line {HeadersInLineNumber}, this is the last line.";
                return;
            }
            var headersLine = lines[HeadersInLineNumber - 1];
            var exampleContentLine = lines[HeadersInLineNumber];
            splitHeaders = _splitter.Split(headersLine);
            var minHeadersExpected = 5;
            if (splitHeaders.Length < minHeadersExpected)
            {
                splitHeaders = null;
                headersError = $"Not enough headers are present when splitting line #{HeadersInLineNumber} by {Separator}";
                return;
            }
        } 
        catch (Exception e)
        {
            Logger.LogError(e, "failed to update splitting of headers");
            headersError = "error splitting headers line";
            splitHeaders = null;
        }
        headersError = null;
        Logger.LogInformation("No error splitting headers.");
    }

    private async Task HeadersConfirmed()
    {
        if (splitHeaders is null) {
            Logger.LogWarning("Headers confirmed - ignoring because no split headers are present.");
            return;
        }
        Logger.LogInformation("Headers confirmed");
        splitExampleRows = lines!.Skip(HeadersInLineNumber).Take(3).Select(row => _splitter.Split(row)).ToArray();

        // Attempt guessing the right columns:
        columnMappings = CsvFormatGuesser.GuessColumns(splitHeaders, splitExampleRows);
        
        StateHasChanged();

        await tabs.ShowTabByIndexAsync(2);
    }

    private async Task PrepareImport()
    {
        if (file is null) {
            return;
        }
        if (columnMappings.IsMissingAnyData) {
            Logger.LogWarning("Import not possible, not all mappings are defined!");
            return;
        }
        Logger.LogInformation("Attempting import.");

        var parser = new CsvStatementParser(_splitter, HeadersInLineNumber - 1, columnMappings);
        using var stream = file.OpenReadStream(MaxBytes);
        using var reader = new StreamReader(stream);
        parsingResult = await parser.ParseCsvFromStreamAsync(reader);
        
        StateHasChanged();

        await tabs.ShowTabByIndexAsync(3);
    }

    private async Task DoImport()
    {
        if (parsingResult is null) return;

        var transactions = parsingResult.Transactions;
        await TransactionService.ImportAsync(transactions);
        var confirmation = await dialog.ShowAsync(
            title: "Data imported",
            message1: transactions.Count + " transactions have been sent.",
            message2: "Do you want to perform another import?");

        if (confirmation)
        {
            parsingResult = null;
            lines = null;
            // https://stackoverflow.com/a/70877124
            _inputFileId = Guid.NewGuid().ToString();

            await tabs.ShowFirstTabAsync();
        } else {
            Navigation.NavigateTo("/transactions");
        }
    }

    private void OnShowingTab(TabsEventArgs args)
    {
        Logger.LogInformation("tab showing: {activeTab}", args.ActiveTabTitle);
    }
    private void OnTabShown(TabsEventArgs args)
    {
        Logger.LogInformation("tab shown: {activeTab}", args.ActiveTabTitle);
    }    
}
