@page "/rules"
@using BlazorBudget.Web.Data
@using Microsoft.Extensions.Logging
@inject TransactionService TransactionService
@inject ClassificationService ClassificationService
@inject ILogger<Rules> Logger

<PageTitle>Classification</PageTitle>

<h1>Classification Rule Overview</h1>
@if (rulesWithMatches == null)
{
    <p><em>Loading Rules...</em></p>
}
else
{
    @foreach (var rule in allRules)
    {
        var matches = rulesWithMatches[rule].ToArray();
        var active = rule == selectedRule;
        var accordionBtnClass = active ? "" : "collapsed";
        var toggleSelected = active? null : rule;
        var accordionBodyClass = active ? "show" : "collapse";

        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button @accordionBtnClass" type="button" @onclick="@(e => selectedRule = toggleSelected)" >
                <span class="bg-success bg-opacity-25" >@rule.Filter.TextFilter.Replace(" ", "␣")</span>
                &nbsp; in @DisplayStringForMatchSource(rule.Filter) 👉 &nbsp; <CategorySpan Name=@rule.TargetCategory />
                &nbsp;<span class="badge bg-info rounded-pill">@matches.Count()</span>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse @accordionBodyClass">
                <div class="accordion-body">
                    <TransactionTable Transactions="@matches" />
                </div>
            </div>
        </div>
    }
}

@code {
    private Transaction[]? allTransactions;
    private Lookup<ClassificationRule, Transaction>? rulesWithMatches;
    private ClassificationRule[] allRules = Array.Empty<ClassificationRule>();
    private ClassificationRule? selectedRule = null;

    protected override async Task OnInitializedAsync()
    {
        allTransactions = await TransactionService.GetTransactionsAsync();
        allRules = await ClassificationService.GetAllRulesAsync() ?? Array.Empty<ClassificationRule>();

        rulesWithMatches = (Lookup<ClassificationRule, Transaction>)allTransactions
            .ToLookup(transaction => allRules.First(r => r.Filter.Matches(transaction)));
    }

    private string DisplayStringForRule(ClassificationRule rule)
    => $"<{rule.Filter.TextFilter}> in {DisplayStringForMatchSource(rule.Filter)} will apply category <{rule.TargetCategory}> ";
   
    private string DisplayStringForMatchSource(TransactionFilter filter)
    => (filter.MatchRecipient, filter.MatchReference) switch {
        (false, false) => "??",
        (false, true) => "reference",
        (true, false) => "recipient",
        (true, true) => "recipient or reference",
    };
}
